[Desktop Entry]
Name=Athena Dashboard
Comment=CMS Factory Master Dashboard
Exec=/home/kareltestspecial/workspace/x-v9/athena/factory/athena.sh
Icon=/home/kareltestspecial/workspace/x-v9/athena/factory/athena-icon.svg
Terminal=false
Type=Application
Categories=Development;
